<%= form_tag({controller: "consultations", action: "new_consultation"}, method: "GET") do |f| %>
  <div class="consultation-inputs">
    <%= label_tag :name, "Full Name" %>
    <%= text_field_tag(:name, "", class: "form-control consultation-author-field") %>
  </div>

  <div class="consultation-inputs consultation-desc-input">
    <%= label_tag :body, "Details", class: "consultation-desc-label" %>
    <%= text_area_tag(:body, "", class: "form-control consultation-desc-field") %>
  </div>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>
