<%= form_tag({controller: "consultations", action: "new_consultation"}, method: "GET") do |f| %>
  <div class="consultation-inputs">
    <%= label_tag :name, "Full Name" %>
    <%= text_field_tag(:name, "", class: "form-control consultation-author-field", placeholder: "e.g. John Doe") %>
  </div>

  <div class="consultation-inputs">
    <%= label_tag :email, "Email" %>
    <%= text_field_tag(:email, "", class: "form-control consultation-email-field", placeholder: "e.g. example@email.com") %>
  </div>

  <div class="consultation-inputs consultation-message-input">
    <%= label_tag :body, "Message", class: "consultation-message-label" %>
    <%= text_area_tag(:body, "", class: "form-control consultation-message-field", placeholder: "e.g. East Vancouver, general yard work") %>
  </div>

  <%= submit_tag "Submit", class: "btn btn-primary consultation-submit" %>
<% end %>
