<!DOCTYPE html>
<html>
<head>
  <title>Galanthus Gardens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="custom-navbar">
    <%= link_to "Home", home_index_path %> |
    <%= link_to "Services", services_path %>
  </div>
  <div class="notice-and-alert">
    <% if notice || alert %>
      <%= notice || alert %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
